{% extends "layout/base.html" %}

{% block content %}
<style>
    img {
        display: block;
        margin: auto;
        border-radius: 50%;
    }
</style>
<img src="https://scontent-atl3-1.cdninstagram.com/t51.2885-19/s150x150/13741448_1024963184288575_1614748658_a.jpg">
<h1>Portofolio</h1>
<hr/>
<section name="bio">
    <h2>Bio</h2>
    <p>
        {{content}}
    </p>    
</section>
<hr/>
<section name="about_me">
    <h2>List</h2>
    <ul>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<hr/>
<section name="form">
    <h2>Send Message</h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>

{% endblock %}
