{% extends "lab_10/layout/base.html" %}

{% block content %}

<div class="row">
    <img src="{{ movie.poster}}">
    <h1> {{ movie.title}} </h1>

    <button type="button" class="btn btn-warning">
        <i class="glyphicon glyphicon-time"></i></span> {{ movie.runtime }}
    </button>

    <button type="button" class="btn btn-warning">
        <i>Rating</i> {{ movie.imdbrating }}
    </button>
    <br>

    <h3> Release </h3>
    <p>{{ movie.released }}</p>

    <h3> Language </h3>
    <p>{{ movie.language }}</p>

    <h3> Summary </h3>
    <p>{{ movie.plot }}</p>

    <h3> Actors </h3>
    <p>{{ movie.actors }}</p>

    <br>
    <br>
    <div class="box">
        {% if added %}
        <button class="btn btn-success"> Added to Watch Later </button>
        {% else %}
        <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
        {% endif%}
    </div>

</div>
{% endblock %}
