{% extends "base.html" %}
{% block content %}
<h3 style="text-align: center; margin: 1rem 0;">Hi all, This is my complete biodata</h3>
<table align="center" style="text-align: center;">
    {% for bio in bio_dict %}
        <tr>
            <td class="subject" style="padding: 0 1rem;">{{ bio.subject }}</td>
            <td class="value" style="padding: 0 1rem;">{{ bio.value }}</td>
        </tr>
    {% endfor %}
</table>
<br><br>
{% endblock %}
