.profile {
    margin: 0 auto;
}

.picture {
    margin: 0 auto;
    padding-top: 5rem;
}

.postStatus {
    background-color: #3b5998;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 32px;
    float: right;
    border-radius: 8px;
}

.logoout {
    background-color: #3b5998;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 32px;
    float: left;
    border-radius: 8px;
}
