<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">Home</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/lab-9/">Session</a></li>
        <li><a href="/lab-9/cookie/login">Cookie</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if login %}
        <li><a href="{% url 'lab-9:auth_logout' %}" onclick="return confirm('Keluar?')">Logout (Session)</a></li>
        {% endif %}
        {% if loginb %}
        <li><a href="/lab-9/cookie/clear/" onclick="return confirm('Keluar?')">Reset Cookies (Logout)</a></li>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
