{% extends "base.html" %}
{% block content %}
<h3 style="margin-top: 2rem; text-align: center">Hai semua, berikut adalah Catatan Harianku</h3>
<br><br>
<div class="row" style="max-width: 100%;">
    <div class="col-md-6 col-xs-6">
        <table align="center" style="text-align: center">
            <tr>
                <th style="text-align: center;">Tanggal</th>
                <th style="text-align: center; padding: 0 1rem;">Yang akan dikerjakan</th>
            </tr>
            {% for diary_data in diary_dict %}
                <tr>
                    <td class="date" style="padding: 0 1rem;">{{ diary_data.date }}</td>
                    <td class="activity">{{ diary_data.activity }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-6 col-xs-6">
        <form method="POST" action="add_activity/" style="display: flex; justify-content: center;">
            {% csrf_token %}
            <table style="text-align: center">
                <tr>
                    <td>
                        Tanggal
                    </td>
                    <td>
                        <input type="datetime-local" name="date" id="date" required="required"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        Kegiatan
                    </td>
                    <td>
                        <input type="text" name="activity" id="activity" size="25"/>
                    </td>
                </tr>
            </table>
            <button type="submit" class="button btn-success" style="text-align: center" align="center">
               Submit
            </button>
        </form>
    </div>
</div>
{% endblock %}
