.cover, .picture {
    margin: 0 auto;
    padding-top: 5rem;
}

.postStatus {
    background-color: #3b5998;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 32px;
    float: right;
    border-radius: 8px;
}


.logout {
    background-color: #3b5998;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 32px;
    float: left;
    border-radius: 8px;
}

#postInput {
    margin: 1rem;
}

#bt1, #bt2 {
    text-align: center;
}

.feed {
    padding: 2rem;
    margin: 1rem 0;
    border: 1px solid gray;
    text-align: justify;
}

.feed h1,h2 {
    font-size: 2rem;
}

.feed h2 {
    font-weight: 600;
}

#lab8 {
    text-align: center;
}

.login {
    background-color: #3b5998;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20rem 0rem;
    border-radius: 8px;
}

.deleteStatus {
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 8px;
}
