{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2>Friend Fasilkom</h2>
                    <div id="friend-list" class="list-group">

                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
        $( document ).ready(function () {
            {# lengkapi pemanggilan ajax berikut untuk mengambil daftar teman yang ada di database #}
            $.ajax({
                method: "GET",
                url: "{% url 'lab-7:get-friend-list-json' %}", // update
                success: function (response) {
                    // #tampilkan list teman ke halaman
                    // #hint : gunakan fungsi jquery append()
                    console.log(response['results']);
                    var friendList = response['results'];
                    for (i = 0; i < friendList.length; i++) {
                        var name = friendList[i]['friend_name'];
                        var npm = friendList[i]['npm'];
                        $('.list-group').append('<div class="list-group-item">' + name + '<a class="badge delete-badge" href="/lab-7/delete-friend/' + npm + '">delete</a><span class="badge npm-badge">' + npm + '</span>' +'</div>');
                    }
                },
                error: function(error){
                    // #tampilkan pesan error
                    $('.list-group').append('<div class="alert alert-danger text-center"><strong>Opps!</strong> Tidak ada teman</div>')
                }
            });
        });
    </script>
{% endblock %}
